.Food-items {
  background-color: aqua;
}
.Ingredients {
  background-color: bisque;
}
.Type {
  background-color: aqua;
}
.Protein {
  background-color: bisque;
}
.Calories {
  background-color: bisque;
}
#one {
  background-color: purple;
}
#two {
  background-color: lightcoral;
}
